
<header class="header">
  <div class="header-content">
    <div class="row" style="margin-left: 15px; margin-top: 5px;">
      <img src="../../assets/icons/graduation.svg" style="max-width: 30px; max-height: 30px;" alt="">
    </div>
    
    <div class="header-menu">
      <div class="serach-form">
        <ul class="header-content-list">
          <li style="margin-left: 25px;">
            <a routerLink="/home"><i-feather name="bell" class="icon-styling"></i-feather></a>
          </li>
          <li style="margin-left: 30px;">
            <a routerLink="/home"><i-feather name="user" class="icon-styling"></i-feather></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
