<div class="sidebar">
  <ul class="sidebar-list">
    <li>
      <a href="/home"
        ><i-feather name="home" class="icon-styling"></i-feather
      ></a>
    </li>
    <li>
      <a href="/home"
        ><i-feather name="music" class="icon-styling"></i-feather
      ></a>
    </li>
    <li>
      <a href="/home"
        ><i-feather name="file" class="icon-styling"></i-feather
      ></a>
    </li>
    <li>
      <a [routerLink]="['/upload']"
        ><i-feather name="upload" class="icon-styling"></i-feather
      ></a>
    </li>
  </ul>
</div>
