button:focus {
  outline: none;
}

.wrapper.coll .sidebar ul li a {
  text-align: center;
}

.wrapper.coll .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.coll .sidebar ul li a span.title {
  display: none;
}

.explore-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(49, 118, 187);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/*  Rumjhum's code */

/* */

.course-list {
  box-sizing: border-box;
  color: rgb(41, 48, 59);
  display: flex;
  flex-wrap: nowrap;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 323px;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: -30px;
  margin-left: -30px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 1100px;
  will-change: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.uk-active {
  box-sizing: border-box;
  color: rgb(41, 48, 59);
  display: list-item;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 323px;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 30px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  touch-action: pan-y;
  width: 300.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: inline;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-decoration-color: rgb(148, 147, 147);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.course-card {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: rgba(25, 42, 70, 0.13) -10px 10px 14px -5px;
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: block;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 290px;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: 270.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.image {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: block;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 150px;
  left: 0px;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  text-align: left;
  text-size-adjust: 100%;
  top: 0px;
  width: 270.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.course-card-thumbnail {
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 150px;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  max-height: 100%;
  max-width: none;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: 270.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.course-card-body {
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: block;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 173px;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 16px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 16px;
  text-align: left;
  text-size-adjust: 100%;
  width: 270.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.course-card-info {
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: flex;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 32px;
  justify-content: space-between;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-size-adjust: 100%;
  width: 236.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.category {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: rgb(148, 147, 147);
  cursor: pointer;
  display: inline-block;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 13px;
  font-weight: 600;
  height: 23px;
  line-height: 23.4px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 7px;
  text-align: left;
  text-size-adjust: 100%;
  width: 51.625px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h4 {
  box-sizing: border-box;
  color: rgb(62, 65, 109);
  cursor: pointer;
  display: inline-block;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 5px;
  margin-block-start: 0px;
  margin-bottom: 5px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  text-transform: capitalize;
  white-space: nowrap;
  width: 236.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  box-sizing: border-box;
  color: rgb(104, 111, 122);
  cursor: pointer;
  display: inline-block;
  font-family: gotham-rounded, "helvetica neue", helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  line-height: 23px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  max-lines: 2;
  text-size-adjust: 100%;
  width: 236.25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
