<li class="uk-active">
  <a>
    <div class="course-card">
      <div class="course-card-thumbnail">
        <img class="image" src="../../../assets/img/angular_image.png" />
        <span class="play-button-trigger"></span>
      </div>
      <div class="course-card-body">
        <div class="course-card-info">
          <div>
            <span class="category">Angular</span>
          </div>
        </div>
        <h4>{{ coursesInfo.courseName }}</h4>
        <p>Learn how to build and launch React web applications with ..</p>
      </div>
    </div>
  </a>
</li>
